# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
    - id: trailing-whitespace
    - id: end-of-file-fixer
    - id: check-yaml
    - id: check-added-large-files
- repo: https://github.com/psf/black
  rev: 25.1.0
  hooks:
    - id: black
- repo: https://github.com/PyCQA/flake8
  rev: 7.2.0
  hooks:
    - id: flake8
      args:
        - --exclude=tests/*,cookbook/*
        - --ignore=ANN101,E501,W503,ANN102,ANN001,ANN002,ANN003,D401,N803,N806,C416,E203,B008
        - --max-line-length=100
      additional_dependencies: [pep8-naming, flake8_import_order, flake8_docstrings, flake8_comprehensions, flake8_bugbear, flake8_annotations, flake8_simplify]
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.16.0
  hooks:
  -   id: mypy
      args: [--ignore-missing-imports]
      exclude: examples
      additional_dependencies: [types-toml, types-PyYAML, types-requests]
